<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title> Табличная верстка </title>
<link rel="stylesheet" type="text/css" href="index.css" />

</head>

<body>

<table width="100%" border="0" align="center" height="100%">
<div class="shapka"
  <tr>
  <td valign="top" ><img src="images/shapka.jpg" width="100%" height="140"> </td> 
  </tr>
  </div>
  <tr> <td> 
  
<table width="100%" height="100%" style="border:#6699FF solid 1px"id="center_table">
  <tr>
    <td valign="top" width="250" style="border:#0000FF solid 1px "id="left_column">
    <p class="font_blue_18" align="center"> Меню сайта</p>
<ul class="drop_vert_menu">
    <li><a href="../../html_step.php"> HTML по шагам</a></li>
    <li><a href="../../html_tag.php"> Теги HTML</a></li>
    <li><a href="../../css_step.php"> CSS по шагам</a></li>
    <li><a href="../../css_property.php"> Свойства CSS</a></li>
    <li><a href="../../view_articles.php?id=1"> Путь к файлу</a></li>
    <li><a href="../../view_articles.php?id=2">Блочные элементы</a></li>
    <li><a href="../../view_articles.php?id=6">Семейства шрифтов </a></li>
    <li><a href="../../view_server.php?id=3">Установка PHP</a></li>
    <li><a href="../../view_server.php?id=4">Установка MySQL</a></li>
    <li><a href="../../view_server.php?id=6">PhpMyAdmin</a></li>
    <li><a href="../../view_dop.php?id=2">PHP блоки </a></li>
    <li><a href="../../view_dop.php?id=3">Adobe Dreamweaver </a></li>
    <li><a href="../../view_dop.php?id=4">Adobe Photoshop </a></li>
    <li><a href="../../view_dop.php?id=5">Табличная верстка </a></li>
</ul>

    </td>
    <td valign="top" style="border:#0000FF solid 1px"id="center_col">
    <p class="font_blue_18" align="center"> Главная страница сайта</p>
    <p>&nbsp;</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed arcu imperdiet, egestas lacus ultrices, hendrerit lectus. Nam in nibh mattis, blandit velit at, euismod lorem. Sed pellentesque eget lorem tempus facilisis. Proin eget sollicitudin est. Mauris rhoncus dictum odio, sit amet dictum metus dignissim et. Praesent tristique placerat dictum. Vestibulum mollis lacus ligula, sit amet placerat libero lacinia in. Curabitur dignissim sit amet sem ut varius. Cras tincidunt ipsum eu neque faucibus tempor. In volutpat mauris quis diam interdum, at laoreet risus tincidunt. Fusce pulvinar diam venenatis mattis posuere.</p>

<p>Suspendisse dui turpis, varius a libero vulputate, posuere porta nisi. Donec sit amet dolor id augue vulputate placerat a sit amet risus. Sed mollis scelerisque est non vestibulum. Nunc nulla nulla, facilisis at porttitor in, efficitur at ex. Aenean eleifend justo ultricies pretium consectetur. Praesent ultrices ex nec odio dignissim dictum. Vivamus sit amet ex eu quam convallis fringilla id eu lorem. Ut scelerisque purus quam, id dapibus nibh varius a. In mattis elementum velit, non accumsan sem finibus sit amet. Fusce consequat orci in ultricies elementum. Duis suscipit a odio in euismod. Aliquam erat volutpat. Quisque pulvinar finibus congue. Curabitur lacus odio, laoreet sit amet porta quis, aliquam ac metus. Donec euismod ante ultricies sodales cursus.</p>

<p>Ut ultrices suscipit nulla, eu pharetra augue facilisis pulvinar. Morbi ut justo non felis vestibulum convallis et eget nisl. In rutrum eget enim vel condimentum. Suspendisse molestie tortor ullamcorper dolor consequat, sit amet varius justo porttitor. Etiam facilisis risus nec ligula ultrices hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse tristique, purus vel imperdiet varius, tellus sem tempor odio, in vestibulum risus lectus in leo. Donec interdum eleifend accumsan. Proin neque odio, mattis fermentum sapien ut, finibus consequat eros. Nullam nunc augue, laoreet ut interdum quis, posuere at leo. Phasellus accumsan dignissim arcu quis sagittis.</p>

<p>Sed ultrices ante in velit commodo, id auctor augue molestie. Nunc vitae mi lacus. Pellentesque laoreet elit leo, vitae ultrices tellus mollis vitae. In placerat justo ut pretium mollis. Fusce vulputate velit elit, id tempor massa bibendum vel. Maecenas viverra nunc eu enim luctus commodo. Integer ullamcorper volutpat lorem vel accumsan. Nam consequat molestie leo sit amet laoreet. Vestibulum mi sapien, ullamcorper nec quam a, suscipit placerat magna. Fusce elementum quam at aliquam malesuada.</p>

<p>Nullam sed finibus orci. Praesent iaculis efficitur nisl, vel porttitor diam egestas at. Integer suscipit nisl at odio suscipit, sed malesuada diam viverra. Aenean felis arcu, ornare id consequat vitae, consectetur ut nunc. Aliquam commodo mauris eget fringilla tincidunt. In augue ipsum, vestibulum iaculis maximus ut, hendrerit sed nisi. Donec eu dui a metus luctus rhoncus quis id tellus. Phasellus ut nisi fermentum ex pellentesque dapibus at non ligula. Etiam consequat dolor nec odio dictum, vel iaculis sapien euismod. Nullam sollicitudin, erat in congue tempor, nulla eros eleifend sem, ac interdum metus nunc id neque. Phasellus suscipit scelerisque neque a semper. Morbi malesuada, lorem quis pulvinar dignissim, nulla elit tristique dolor, non pharetra enim risus at elit. Praesent condimentum sapien ut diam eleifend porttitor.</p>
     <p>&nbsp;</p></td>
    
    <td width="150" style="border:#0000FF solid 1px"><p>Здесь Вы можете разместить рекламу...</p>
	
	</td>
  </tr>
</table>

  
  </td> </tr>
  <tr> <td bgcolor="#A3D7F5" height="35px"> <p align="left" class="font_small_lsilver">@Все права врядли кем-то защищены </p> </td> </tr>
</table>

</body>
</html>
